*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

## Specific to RubyMotion:
.dat*
.repl_history
build/


# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

/runsv/*/supervise
/runsv/*/log/supervise

/node_modules/
/lib/
/dist/
/worker/
